<nav aria-label="breadcrumb">
    <ol class="breadcrumb ol-list-style">
      <!-- <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li> -->
      <li  *ngFor="let item of breadcrumbs" class="breadcrumb-item" [ngClass]="{'active': item.active}">
          <a class="li-list-style" href="#" [routerLink]='item.link'>{{item.name }}</a> </li>
    </ol>
  </nav>
  <tl-search-training></tl-search-training>
  <div class="div-top-margin">
    <p>Choose an equipment category:</p>
  </div>

  <div class="row" *ngFor="let libraryCategory of libraryList">
    <div class="col-md-6">
        <mat-card class="card-list-style">
            <i class="{{libraryCategory.equipmentIcon}} class-list-padding" ></i>
            <a class="anchor-text-style" href="{{urlHash}}/{{libraryCategory.id}}"> {{libraryCategory.equipmentCategory}} </a>
            <i class="fa fa-angle-right class-align-right"></i>
          </mat-card>
    </div>
    <div class="col-md-6"></div>

  </div>
