<div class="row">
  <div class="col-md-3">
    <label class="label-style-class">Full Name : </label>
  </div>
  <div class="col-md-9">
    <input type="text" disabled="true" class="input-style-class" value="{{userDetails.fullname}}">
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label class="label-style-class">Email : </label>
  </div>
  <div class="col-md-9">
    <input type="text" disabled="true" class="input-style-class" value="{{userDetails.email}}">
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-3">
    <label class="label-style-class">Phone : </label>
  </div>
  <div class="col-md-9">
    <input type="text" class="input-style-class" value="{{userDetails.phone}}">
  </div>
</div> -->
<div class="row">
  <div class="col-md-3">
    <label class="label-style-class">Address : </label>
  </div>
  <div class="col-md-9">
    <input type="text" disabled="true" class="input-style-class" value="{{userDetails.address}}">
  </div>
</div>
