<div class="row">
  <div class="col-md-6">
      <!-- <nav aria-label="breadcrumb">
          <ol class="breadcrumb ol-list-style">
            <li  *ngFor="let item of breadcrumbs" class="breadcrumb-item" [ngClass]="{'active': item.active}">
                <a class="li-list-style" [routerLink]='item.link'>{{item.name }}</a> </li>
          </ol>
        </nav> -->
        <tl-breadcrumb [breadcrumbs]="breadcrumbs"></tl-breadcrumb>
  </div>
  </div>

<tl-equipment-type-list></tl-equipment-type-list>
