<ep-busy-indicator *ngIf="loading" [loadingMsg]="loadingMsg"></ep-busy-indicator>
<ep-busy-indicator *ngIf="isError" [loadingMsg]="code+': some error occured.'"></ep-busy-indicator>

<div class="title-area">
  <div class="title-text bold">Welcome To Typeopplaering</div>
</div>
<div class="title-area">
  <div class="title-text">set your password</div>
</div>

<form [formGroup]="form" (ngSubmit)="resetPassword()">
<div class="content-area">
  <div>
      <input type="password" placeholder="&#xf023;  Password" formControlName="password" required>
  </div>
  <div>
      <input type="password"  placeholder="&#xf023; Confirm Password" formControlName="confirmPassword" required>
  </div>
  <div class="button-area">
      <button type="submit" class="tl-btn">
          <div class="btn-label">Reset</div>
      </button>
  </div>
</div>
</form>

